body {
  margin: 0;
}

pre span.value {
  color: green;
}

pre span.field {
  color: orange;
}

pre a,
a:link,
a:active,
a:visited,
a:hover {
  color: green;
  text-decoration: none;
}

pre a:hover {
  text-decoration: underline;
}

#business_card {
  position: relative;
  width: 100vw;
  height: 100vh; 
}

#business_card > pre {
  margin: 0;
  font-size: 3vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  #business_card > pre {
    font-size: 30px;
  }
}
