body {
  margin: 0;
  color: black;
}

pre span.value {
  color: green;
}

pre span.field {
  color: orange;
}

pre a,
a:link,
a:active,
a:visited,
a:hover {
  color: green;
  text-decoration: none;
}

pre a:hover {
  text-decoration: underline;
}

#business_card {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 50em;
  min-height: 30em;
  margin-left: -4vw;
}

#business_card > pre {
  margin: 0;
  font-size: 3vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  #business_card > pre {
    font-size: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #bbb;
    background: #282C34;
  }

  pre span.value {
    color: #98C379;
  }

  pre span.field {
    color: #E5C07B;
  }

  pre a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: #98C379;
    text-decoration: none;
  }
}
