pre span.value {
  color: green;
}

pre span.field {
  color: orange;
}

#business_card {
  position: relative;
  width: 100vw;
  height: 100vh; 
}

#business_card > pre {
  font-size: 4vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
